.App {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.App-header {
  background-color: #222;
  height: 20px;
  padding: 20px;
  color: white;
  margin-bottom: 50px;
}

.App-title {
  font-size: 1.5em;
}
.calc-button{
  height: 50%;
  width: 50%;
  padding: 1em;
}

.calc-btn{
display: inline-block;
border:1px solid #c9ae34;
color: #705D07;
border-radius: 2px 2px 2px 2px;
-webkit-border-radius: 3px 3px 3px 3px;
-moz-border-radius: 3px 3px 3px 3px;
font-family: Verdana;
width: 60px;
height: 60px;
margin: 4px;
font-size: 16px;
text-shadow: 0 1px 0 #fff;

background-color: #fffff4;
}
.calc-btn:hover, .btn-class:active{
border:1px solid #14791b;
color: #705D07;
box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
-moz-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
-webkit-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
background-color: #fcdf5b;
}
.calc-display{
  background-color: #6d6d42;
  width: 290px;
  height: 40px;
  font: Verdana;
  font-size: 25px;
  font-weight: bold;
  color:#f3f2f1;
  text-align: right;
  margin-bottom: 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
  border-style: inset;
}
.calc-body {
  
  border-style: ridge;
  border-color: #cdbc76;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  background: #0e0e09;
  border-radius: 20px;
}
.c-body {
  
  border-style: ridge;
  border-color: #cdbc76;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  background: #0e0e09;
  border-radius: 20px;
  

}







